.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  padding-block: 2rem;

  div {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.5rem;
    }
  }
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

  max-width: 70rem;
  margin-inline: auto;
  padding: 1rem;

  list-style: none;
}
