.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  padding-block: 2rem;

  div {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.5rem;
    }
  }
}

.navContainer {
  position: sticky;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  max-width: 70rem;
  margin-inline: auto;
  padding: 1rem;

  // position: fixed;

  list-style: none;
}

// Themes

.themeContainter {
  position: relative;
}

.themeButton {
  position: relative;
  padding: 0.5rem;
}

.themeList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;

  position: absolute;

  margin-top: 1rem;

  border: 1px solid red;

  padding: 1rem;

  background-color: var(--foreground) 88;

  li {
    list-style: none;
    cursor: pointer;

    // &:hover {
    //   color: var(--background);
    // }
  }
}
